@charset "utf-8";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* --------------fonte externa------------- */


@font-face {
   font-family: fonte1;
   src: url(fonte/Gagalin-Regular.otf);
}

@font-face {
   font-family: fonte2;
   src: url(/fonte/DESIGNER.otf);
}

/* --------------fonte externa------------- */

/* -------------------corpo da página----------------- */
body {
   /* background: url(https://images3.alphacoders.com/134/1340734.png); */
   background: url(img/Espaço\ background.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   flex-wrap: wrap;
}

/* -------------fim do corpo da página----------------- */

/* ------------------header---------------------- */
header {
   background-color: #0B0838;
   padding: 0px;
   z-index: 18;
   /* position: absolute; */
   width: 100%;
   color: white;
   font-family: fonte1;
   margin-top: 0;
   background-size: cover;

}

/* --------------fim do header------------- */
/* ----------------container---------------- */
.container {
   margin-left: 3%;
}
/* ----------------------figure------------------  */

figure {
   padding: 0;
   display: flex;
   flex-direction: row-reverse;

}

/* -------------------logo------------------ */

.logo {
   width: 145px;
   margin-left: 88%;
   margin-top: 10px;
   padding: auto;
   height: 120px;

}

/* ------------------fim da logo----------------- */
/* -----------unicron abaixo da img-------------- */


/* ------------unicron abaixo da img-------------- */
/* -----------------buttons-------------------- */
.buttons {
   display: flex;
   font-weight: 900;
   text-align: justify;
   margin-top: -55px;
   height: 80px;
   padding-left: 15px;
   gap: 20px;
   letter-spacing: 4px;
   font-weight: 300;
   z-index: 20;

}

.buttons h3 {
   font-family: Arial, Helvetica, sans-serif;
}

strong {
   background-color: #312b8b;
   padding: 10px;
   border-radius: 10px;
}

a {
   padding-right: 1%;
   text-decoration: none;
   color: white;

}

/* -----------------planetas na navbar-------------- */

/* ---efeitos------- */
@keyframes collapseAnimation {
   0% {
      opacity: 1;
      transform: translateY(0);
   }

   100% {
      opacity: 0;
      transform: translateY(-100%);
      visibility: hidden;
   }
}

@keyframes expandAnimation {
   0% {
      opacity: 0;
      transform: translateY(-100%);
      visibility: hidden;
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}



.navbar {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: #312b8b;
   padding-top: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
   margin-top: 0px;
   transition: height 0.3s ease, visibility 0s linear 0.3s;
   height: 20%;
   width: 100%;
   z-index: 15;
   position: absolute;
}

.navbar.collapsed {
   height: 0;
   overflow: hidden;
   visibility: 100%;
}

.navbar a {
   text-decoration: none;
   color: white;
   margin: -10px 10px;
}

.navbar.collapsed a {
   visibility: hidden;
}

.navbar h2 {
   font-size: 23px;
   font-weight: 90;
   font-family: Arial, Helvetica, sans-serif;

}

/* ------------imagem dos planetas---------- */

img {
   width: 110px;
   height: 100px;
   border-radius: 30%;
}

/* ---------------Os planetas--------------- */
.mercurio {
   display: flex;
   flex-direction: column;
   text-align: center;
   z-index: 100;
   animation-name: outzoom;
   animation-duration: 0.5s;
}


@keyframes outzoom {
   from {
      transform: scale(1.2);
   }

   to {
      transform: scale(1);
   }
}

@keyframes zoom {
   from {
      transform: scale(1);
   }

   to {
      transform: scale(1.2);
   }
}

.mercurio:hover {
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2);
}

.venus:hover {
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2);
}

.terra:hover {
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2);
}

.terra img {
   width: 100px;
   height: 100px;
   margin-left: 5px;
}

.marte:hover {
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2);
}

/* --navbarjupiter-- */
.jupiter:hover {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 95px;
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2);
}

.saturno:hover {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 140px;
   margin-bottom: 10px;
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2)
}

.saturno{
   text-align: center;
}
.netuno{
   text-align: center;
}

.urano{
   text-align: center;
}
.urano img{
   width: 145px;
   height: 90px;
}

.urano:hover {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 140px;
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2)
}

.netuno:hover {
   display: flex;
   flex-direction: column;
   text-align: center;
   animation-name: zoom;
   animation-duration: 0.5s;
   transform: scale(1.2)
}
.netuno img{
   width: 195px;
   height: 110px;
   margin-left: 5px;
   text-align: center
}

/* ---------planeta navbar-------------- */
/* -------------botão com efeito---------- */

.toggleButton {
   position: absolute;
   top: 40%;
   margin: 0;
   margin-left: 48%;
   padding: 10px;
   background-color: #312b8b;
   color: #fff;
   cursor: pointer;
   z-index: 10;
   border: 8px 8px solid white;
   border-color: #fff;
   width: 80px;
   height: 90px;
   border-radius: 50%;
   transition: transform 0.3s ease, top 0.3s ease;

}

/* --------------fim do header------------------ */


/* ----texto1---- */
main {
   margin-top: 40%;
}

.cardT1 {
   font-size: 30px;
   text-align: center;
   background-color: #312b8b;
   margin: 5% 20%;
   box-shadow: 8px 8px #0B0838;
   border-radius: 16px;


}

iframe {
   box-shadow: 16px 16px #0B0838;
   border: 5px 5px outset #312b8b;
   margin-left: 21%;

   border-radius: 20px;
}

iframe:hover {
   transform: scale(1.3em);
}

.cardT2 {

   text-align: center;
   background-color: #312b8b;
   margin: 20% 20%;
   box-shadow: 8px 8px #0B0838;
   border-radius: 16px;
   font-size: 30px;


}

p {
   font-family: sans-serif;
   color: #fff;
}



h1 {
   text-align: center;
   margin: 5%;
}


/* ----------footer----------------- */
/*--------------------------- TEXTO --------------------------- */
.footer {
   background-color: rgb(57, 40, 117);
   color: white;
   text-align: center;
   padding: 30px 0;
   display: flex;
   justify-content: space-around;
   align-items: start;
   flex-wrap: wrap;
   /* Permite que os itens do rodapé se ajustem */
   font-family: sans-serif;
   line-height: 2.0em;
}

.footer-column {
   width: 30%;
}

.footer-column strong {
   color: #000000;
   
}

.footer-column h3 {
   margin-bottom: 10px;
   
}

.footer-column ul {
   list-style: none;
   padding: 0;
   
}

.footer-column ul li {
   margin-bottom: 1px;
   
}

.footer-column ul li a {
   color: white;
   text-decoration: none;
   
}

.footer-column ul li a:hover {
   text-decoration: underline;
   
}

@media all and (max-width: 760px) {
   body {
      max-width: 760px;
   }

   header {
      display: fixed;
      margin-top: 15%;
   }

   .navbar {
      margin-bottom: 10px;
   }

   .buttons {
      font-size: 16px;
      padding: 16px;
   }


   .logo {
      display: none;
   }


   p {
      margin-bottom: 10px;
      text-align: justify;
      font-size: 15px;
   }

   figcaption {
      font-size: 15px;
      text-align: justify;
   }

   h1 {
      font-size: 2em;
   }

   .efeito img {
      display: none;
   }

   iframe {
      width: 230px;
      height: 200px;
      margin-right: 25%;
   }

   .toggleButton {
      right: 80%;
      margin-bottom: 30px;
   }

   .footer {
      /* background-color: rgb(202, 199, 211); */
      color: white;
      /* text-align: center;
      padding: 20px 0; */
      display: flex;
      justify-content: center;
      font-family: sans-serif;
      flex-direction: column;
  }

  .footer h3 {
      display: none;
  }

  .footer p {
      text-align: center;
      margin: auto;
  }


  .footer-column {
      background-color: #535353;
      color: white;
      text-align: center;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      font-family: sans-serif;
      width: 100%;
      /* Cada coluna ocupa 100% da largura */
      padding: 10px 0;
  }
}
